.bookTable {
    width: 100%;
}
.bookTable th:last-child {
    width: 18%;
}
.metaTable {
    width: 100%;
}
.metaTable th:nth-child(4) {
    width: 15%;
}
.cates {
    float: left;
    width: auto;
    font-weight: 1000;
    padding: 15px;
    margin: 10px;
    border-radius: 100px;
    background-color: lightcyan;
    margin-left: 10px;
}
